
        <div class="main">
            <div class="about-tab-box">
                <table class="about-tab clear">
                    <tbody>
                        <tr>
                            <td class="tab-nav">
                                <a class="active" href="#">企业概况</a>
                            </td>
                            <td class="tab-nav ">
                                <a href="#">企业荣誉</a>
                            </td>
                            <td class="tab-nav ">
                                <a href="#">安全保障</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="a-container">
                <div class="about-page">
                    <div class="position">
                        <h3>业务定位</h3>
                        <div class="img-box">
                            <img src="view/images/about/about-1-bg.jpg" alt="">
                            <div class="content">
                                <h4 id="a-txt">华人地区知名美股网络券商</h4>
                                <h4 id="a-txt1">致力于用户提供一流的全球投资体验</h4>
                                <p class="text " id="a-txt2">证券业务覆盖美股、港股、A股等主流证券市场</p>
                                <p class="text-box " id="a-txt3">
                                    美股、港股市场上的股票、期权、ETFs、债券、外汇等丰富交易品种中自由选择，灵活投资、实现收益最大化。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="aninode">
                            <h3>业务优势</h3>
                            <ul class="clear">
                                <li class="advan-item">
                                    <h5 class="a-show">中文客服</h5>
                                    <p class="a-show">全天20小时贴心守候</p>
                                </li>
                                <li class="advan-item">
                                    <h5 class="a-show">轻松开户</h5>
                                    <p class="a-show">一张身份证，3分钟足不出户
                                        <br> 轻松开启全球证券投资
                                    </p>
                                </li>
                                <li class="advan-item">
                                    <h5 class="a-show">融资融券</h5>
                                    <p class="a-show">美股港股均支持融资融券
                                        <br> 融资年化利率最低至1.5%
                                    </p>
                                </li>
                                <li class="advan-item">
                                    <h5 class="a-show">投资培训</h5>
                                    <p class="a-show">股票学院专业课程
                                        <br> 高端分析师沙龙
                                    </p>
                                </li>
                                <li class="advan-item">
                                    <h5 class="a-show">超低佣金</h5>
                                    <p class="a-show">美股佣金$0.01/股（USD）
                                        <br> 港股佣金0.08%（HKD）
                                    </p>
                                </li>
                                <li class="advan-item">
                                    <h5 class="a-show">免费行情</h5>
                                    <p class="a-show">免费享用美股、港股
                                        <br> A股实时行情
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team">
                        <div class="aninode">
                            <h3>管理团队</h3>
                            <p>老虎证券的管理团队拥有多年国际化金融市场经验，主要团队成员来自高盛、摩根士丹利等知名金融机构。</p>
                        </div>
                    </div>
                    <div class="cooperation">
                        <div class="aninode">
                            <h3>合作伙伴</h3>
                            <div class="coop-box clear">
                                <img class="a-img" src="view/images/about/icon1.png" alt="">
                                <img class="a-img" src="view/images/about/icon2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-page t2">
                    <h3>老虎证券荣誉</h3>
                    <img class="at-img" src="view/images/about/t2-bg.jpg" alt="">
                    <ul class="honor clear">
                        <li class="item">
                            <img class="honor-img" src="view/images/about/t2-1.png" alt="">
                            <p class="date">2015年2月</p>
                            <p class="content">荣登黑马创业甄选的“未来独角兽公司”榜评“2015年互联网证券平台”。</p>
                        </li>
                        <li class="item">
                            <img class="honor-img" src="view/images/about/t2-2.png" alt="">
                            <p class="date">2016年1月</p>
                            <p class="content">老虎证券荣登胡润新金融百强榜峰会公布的“2016胡润新金融50强”榜单。</p>
                        </li>
                        <li class="item">
                            <img class="honor-img" src="view/images/about/t2-3.png" alt="">
                            <p class="date">2016年1月</p>
                            <p class="content">老虎证券入选创业邦“2015年最具潜力的100家创新公司”。</p>
                        </li>
                        <li class="item">
                            <img class="honor-img" src="view/images/about/t2-4.png" alt="">
                            <p class="date">2016年9月</p>
                            <p class="content">老虎证券入选毕马威中国发布的领先金融科技50强榜单。</p>
                        </li>
                    </ul>
                </div>
                <div class="about-page t3">
                    <h3>
                       老虎证券以客户资产安全为第一生命线
                   </h3>
                    <ul class="item-box">
                        <li class="item">
                            <img class="t3-img" src="view/images/about/t3-1.png" alt="">
                            <div class="step">措施一：客户资产隔离托管</div>
                            <p class="content">老虎证券使用美国盈透等三方清算通道，客户资产托管在清算机构的账户内，如美国花旗银行、渣打银行、美国富国银行等。此种保护措施严格按照美国证监会的要求执行，使得券商公司不能接触或挪用客户资产，且交割出金时资产只能向同名账户流通。</p>
                        </li>
                        <li class="item item2">
                            <img class="t3-img" src="view/images/about/t3-2.png" alt="">
                            <div class="step">措施二：客户账户受美国监管机构严格保护</div>
                            <p class="content">老虎证券的客户账户同时受到美国证券交易监督委员会（SEC）、美国金融业监管局（FINRA）、美国证券投资者保护公司（SIPC）的监管和保护。其中SEC和FINRA是美国联邦政府机构；SIPC是由美国国会建立的非营利性公司，对证券经纪商的客户进行资产保护。</p>
                        </li>
                        <li class="item">
                            <img class="t3-img" src="view/images/about/t3-3.png" alt="">
                            <div class="step">措施三：高达3000万美元账户资产保护</div>
                            <p class="content">老虎证券的客户账户均享受证券投资人保护公司(SIPC)最高达50万美元（现金额度25万美元）的保护，同时还享受额外的商业保险赔付保护，单个证券账户享有高达3000万美元的保护（现金额度为90万美元）。
                                <span class="break">备注：此项保险，只在证券公司破产时为客户提供保护，而不针对客户在证券市场上的投资损失。</span>
                            </p>
                        </li>
                    </ul>
                    <p class="ab-tips">
                        备注1：老虎证券的清算公司为盈透证券，该公司是美国注册的经纪商-经销商、期货佣金商。盈透证券不仅是一个互联网券商，同时还为其他的券商提供清算服务，盈透证券提供清算服务包括账户开立、资金监管和订单清算等。</p>
                    <p class="ab-tips">
                        备注2：在美国证券市场上，不仅有纽交所和纳斯达克这样的大型股票交易所，还有很多电子交易所（ECN）和类交易系统（ATS），为投资者提供股票交易服务。经过长期发展，在券商和交易所中间出现了专门为券商提供服务的清算商。
                    </p>
                </div>
            </div>
        </div>