
        <div class="download-head">
            <img src="view/images/download/bg.jpg" alt="">
            <div class="content">
                <div class="main">
                    <h2 id="download">客户端下载</h2>
                </div>
            </div>
        </div>
        <div class="download-apps">
            <div class="main">
                <img id="d-phone" src="view/images/download/phone.png" alt="">
                <div class="desc1">亚洲地区用户，推荐使用老虎证券官方客户端</div>
                <div class="desc2">Tiger Trade，全球资产配置的一站式股票交易平台</div>
                <ul class="desc-txt clear">
                    <li class="d-item x">
                        <div class="item-t">
                            一个身份证开户，买遍全球资本市场
                        </div>
                        <div class="item-desc">
                            全球优质券商无缝接入，无需跳转一个APP内在线轻松开通A股、美股、港股的证券账户，支持三大证券市场上的股票、期权、全球ETF等标的交易。
                        </div>
                    </li>
                    <li class="d-item ">
                        <div class="item-t">
                            股票社区，大V分享投资机会
                        </div>
                        <div class="item-desc">
                            汇集股票投资高手，每天分享投资心得和投资策略，个股观点、小道消息、行业要闻一网打尽。和大V一起做投资，投资机会尽在掌握。
                        </div>
                    </li>
                    <li class="d-item x">
                        <div class="item-t">
                            最懂华人的国际化股票交易软件
                        </div>
                        <div class="item-desc">
                            根据华人的投资习惯开发的全球化股票软件，完全汉化的个股信息、交易指标和全球新闻资讯，无障碍买遍全球资本市场。
                        </div>
                    </li>
                    <li class="d-item ">
                        <div class="item-t">
                            一个身份证开户，买遍全球资本市场
                        </div>
                        <div class="item-desc">
                            全球优质券商无缝接入，无需跳转一个APP内在线轻松开通A股、美股、港股的证券账户，支持三大证券市场上的股票、期权、全球ETF等标的交易。
                        </div>
                    </li>
                </ul>
                <ul class="items clear">
                    <li class="item item-app  first">
                        <img class="d-n" src="view/images/download/iphone.png" alt="">
                        <div class="client-type">
                            iPhone
                        </div>
                        <a href="#" class="btn">
                            <span class="btn-icon"></span> iOS下载
                        </a>
                    </li>
                    <li class="item line"></li>
                    <!-- 2 -->
                    <li class="item item-app  center">
                        <img class="d-n" src="view/images/download/android.png" alt="">
                        <div class="client-type type-android">
                            Android
                        </div>
                        <a href="#" class="btn">
                            <span class="btn-icon"></span> Android下载
                        </a>
                    </li>
                    <li class="item line"></li>
                    <!-- 3 -->
                    <li class="item item-app  center">
                        <img class="d-n" src="view/images/download/mac.png" alt="">
                        <div class="client-type type-mac">
                            Mac
                        </div>
                        <a href="#" class="btn">
                            <span class="btn-icon"></span> Mac下载
                        </a>
                    </li>
                    <li class="item line"></li>
                    <!-- 4 -->
                    <li class="item item-app  last">
                        <img class="d-n" src="view/images/download/windows.png" alt="">
                        <div class="client-type type-windows">
                            Windows
                        </div>
                        <a href="#" class="btn">
                            <span class="btn-icon"></span> Windows下载
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tws">
            <div class="main">
                <div class="desc1">美国地区用户，推荐使用</div>
                <div class="desc2">
                    TWS，简明直观的全球证券市场交易软件
                </div>
                <ul class="desc-more clear">
                    <li class="d-item a">
                        <div class="item-t">
                            研究、新闻和市场数据
                        </div>
                        <div class="item-desc">
                            获取实时、行业领先服务商提供的综合新闻、研究、基本面和市场数据。
                        </div>
                    </li>
                    <li class="d-item">
                        <div class="item-t">
                            风险管理
                        </div>
                        <div class="item-desc">
                            高级的风险测量技术可以帮助您管理动态市场中的风险
                        </div>
                    </li>
                    <li class="d-item a">
                        <div class="item-t">
                            算法和交易工具
                        </div>
                        <div class="item-desc">
                            不同的交易者有不同的需求，可以自定义交易软件来改善您的交易环境。
                        </div>
                    </li>
                    <li class="d-item">
                        <div class="item-t">
                            模拟交易
                        </div>
                        <div class="item-desc">
                            在模拟交易环境中磨练您的交易技术，培养、磨练并完善所需交易技巧。
                        </div>
                    </li>
                </ul>
                <ul class="tws-down clear">
                    <li class="item">
                        <img src="view/images/download/p1.png" alt="">
                        <a href="#">苹果IOS</a>
                    </li>
                    <li class="item">
                        <img src="view/images/download/p2.png" alt="">
                        <a href="#">谷歌安卓</a>
                    </li>
                    <li class="item last">
                        <img src="view/images/download/p3.png" alt="">
                        <a href="#">PC版</a>
                    </li>
                </ul>
                <div class="TWS-box">
                    <a href="#">下载更多版本TWS软件</a>
                </div>
            </div>
        </div>