
        <div class="show1">
            <div class="show1-box">
                <h2>为什么投资美股、港股?</h2>
                <div class="show1-container">
                    <ul class="show1-list clear">
                        <li class="show1-li1">
                            <img src="view/images/index/icon1.png" alt="">
                            <h6>投资最优公司</h6>
                            <p>苹果、谷歌、阿里、百度、腾讯</p>
                            <p>等尽在美股、港股等国际市场</p>
                        </li>
                        <li class="show1-li2">
                            <img src="view/images/index/icon2.png" alt="">
                            <h6>交易产品多样</h6>
                            <p>股票、期权、ETF</p>
                            <p>及更多证券衍生产品</p>
                        </li>
                        <li class="show1-li3">
                            <img src="view/images/index/icon3.png" alt="">
                            <h6>投资手段丰富</h6>
                            <p>可买涨可卖空，</p>
                            <p>无论牛市熊市都能赚钱</p>
                        </li>
                        <li class="show1-li4">
                            <img src="view/images/index/icon4.png" alt="">
                            <h6>市场透明规范</h6>
                            <p>市场制度完善，监管严格</p>
                            <p>充分保护普通投资者权益</p>
                        </li>
                        <li class="show1-li5">
                            <img src="view/images/index/icon5.png" alt="">
                            <h6>投资最优公司</h6>
                            <p>苹果、谷歌、阿里、百度、腾讯</p>
                            <p>等尽在美股、港股等国际市场</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- show1 end-->
        <!-- phone start -->
        <div class="phone-show">
            <img id="bigphone" src="view/images/index/index-phone.png" alt="">
        </div>
        <!-- phone end -->
        <!-- show2 start -->
        <div class="show2">
            <div class="show2-box clear">
                <div class="left">
                    <h2>中英文交易客户端全渠道覆盖</h2>
                    <p>iOS、Android、Windows、MacOS </p>
                    <p>为全球华人量身定制的专业股票投资软件，服务专业交易者</p>
                    <p>最快交易速度、最佳交易体验、最优成交价格 </p>
                </div>
                <div class="right">
                    <img src="view/images/index/index-iconfour.png" alt="">
                    <a class="btn" href="#">立即下载</a>
                </div>
            </div>
        </div>
        <!-- show2 end -->
        <!-- map start -->
        <div class="map">
            <img class="sh" src="view/images/index/map.png" alt="">
            <div class="change abc">
                <div class="spot"></div>
                <div class="spot-time">
                    <p>
                        <span class="time">21:30-4:00</span> （夏令时）
                    </p>
                    <p>
                        <span class="time">22:30-5:00</span> （冬令时）
                    </p>
                    <p>美股交易时间（北京时间）</p>
                </div>
            </div>
            <div class="change2 abc">
                <div class="spot"></div>
                <div class="spot-time">
                    <p>
                        <span>9:30-11:30,13:00-15:00</span>
                    </p>
                    <p>美股交易时间（北京时间）</p>
                </div>
            </div>
            <div class="change3 abc">
                <div class="spot"></div>
                <div class="spot-time">
                    <p>
                        <span>9:30-11:30,13:00-15:00</span>
                    </p>
                    <p>港股交易时间（北京时间）</p>
                </div>
            </div>
            <h2 class="sh n">
    <p >一个老虎证券账户</p>
    <p >玩转美股、港股</p>
    </h2>
            <p class="p1  sh  n">
                老虎证券不仅可以交易美股、港股、A股（沪港通），并且支持交易包括北美、欧盟国家、日本、新加坡等国家在内的全球活跃证券市场，真正实现资产的全球化配置。一个交易账户，立足全球资本市场。一笔钱白天炒港股、A股，晚上玩美股。</p>
            <p class="p2 sh n">
                * A 股的交易范围仅限于沪港通。这包括所有上证180指数与380指数的成分股，以及虽不在相关指数成分股内但有股票同时在SSE以及SEHK上市的H股。
            </p>
        </div>
        <!-- map end -->
        <!-- show3 start -->
        <div class="show3">
            <ul class="clear">
                <li>
                    <img src="view/images/index/index-icon1.png" alt="">
                    <div>
                        <h3>便捷开户</h3>
                        <div class="txt">
                            精修优化了开户表单，精简冗余问题，无需线下或视频见证，三分钟完成开户操作
                        </div>
                    </div>
                </li>
                <li>
                    <img src="view/images/index/index-icon2.png" alt="">
                    <div>
                        <h3>资产安全</h3>
                        <div class="txt">
                            严格执行美国证券交易委员会要求，客户资产隔离保护，并实施实时保证金风控系统
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="show3 s">
            <ul class="clear">
                <li>
                    <img src="view/images/index/index-icon3.png" alt="">
                    <div>
                        <h3>便捷开户</h3>
                        <div class="txt">
                            精修优化了开户表单，精简冗余问题，无需线下或视频见证，三分钟完成开户操作
                        </div>
                    </div>
                </li>
                <li>
                    <img src="view/images/index/index-icon4.png" alt="">
                    <div>
                        <h3>资产安全</h3>
                        <div class="txt">
                            严格执行美国证券交易委员会要求，客户资产隔离保护，并实施实时保证金风控系统
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- show3 end -->
        <!-- show4 start -->
        <div class="show4">
            <img src="view/images/index/joinus.26cc5a47.jpg" alt="">
            <div class="mask"></div>
            <div class="txt">
                <div class="txt1">
                    <h3>华人地区知名美股网络券商</h3>
                    <h3>致力于为用户提供一流的全球投资体验</h3>
                </div>
                <a href="#">关于我们</a>
            </div>
        </div>
        <!-- show4 end -->
        <!-- show5 start -->
        <div class="show5">
            <div class="main">
                <h2>信赖老虎证券的大咖和投资人</h2>
                <div class="touchslide-box">
                    <div class="container">
                        <ul class="ul clear">
                            <li>
                                <img src="view/images/index/p1.png" alt="">
                                <h5>徐小平</h5>
                                <h6>真格基金创始人</h6>
                            </li>
                            <li>
                                <img src="view/images/index/p2.png" alt="">
                                <h5>王兴</h5>
                                <h6>美团网创始人兼CEO</h6>
                            </li>
                            <li>
                                <img src="view/images/index/p3.png" alt="">
                                <h5>洪锋</h5>
                                <h6>小米联合创始人、副总裁（MIUI）</h6>
                            </li>
                            <li>
                                <img src="view/images/index/p4.png" alt="">
                                <h5>唐彬森</h5>
                                <h6>智明星通CEO</h6>
                            </li>
                        </ul>
                    </div>
                    <a class="prev"></a>
                    <a class="next"></a>
                </div>
            </div>
        </div>
 
    <!-- show5 end -->