
        <div class="main">
            <form class="easy-form login-form">
                <h1 class="logo">
                    <a href="#">
                        <img src="view/images/log/logo.black.png" alt="">
                    </a>
                </h1>
                <div class="form-wrap clear">
                    <div class="input-wrap">
                        <div class="form-error e1">
                            <p>请填写有效的手机号</p>
                            <span class="arrow-tip-dowm"></span>
                        </div>
                        <input id="inp" type="text" name="phone" class="input-text i1" placeholder="手机号码">
                    </div>
                </div>
                <div class="form-wrap clear">
                    <div class="input-wrap">
                        <div class="form-error e2">
                            <p>请输入密码</p>
                            <span class="arrow-tip-dowm"></span>
                        </div>
                        <input id="pwd" type="password" name="password" class="input-text i2" placeholder="请输入密码">
                    </div>
                    <div class="meta">
                        <a href="#">忘记密码?</a>
                    </div>
                    <div class="form-wrap submit-wrap">
                        <button id="log-btn" class="btn btn-regular" type="button">
                            <a href="index.html">登&nbsp;&nbsp;录</a>
                        </button>
                    </div>
                    <div class="form-signup submit-wrap">
                        <div class="go-signup">
                            还没有账户？
                            <a href="open-account.html">立即开户</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>