
        <div class="main clear">
            <h1 class="logo">
                <a href="#">
                    <img src="view/images/open-account/logo.png" alt="">
                </a>
            </h1>
            <div class="steps-intro">
                <ul>
                    <li>
                        <span>1</span> 验证手机号，填写个人资料
                    </li>
                    <li>
                        <span>2</span> 上传你的身份证和签名
                    </li>
                    <li>
                        <span>3</span> 等待资料审核通过
                    </li>
                    <li>
                        <span>4</span> 向您的账号存入资金
                    </li>
                    <li>
                        <span><img src="view/images/open-account/download.png" alt=""></span> 向您的账号存入资金
                    </li>
                </ul>
            </div>
            <div class="signup-go">
                <a class="btn" href="">在线开户</a>
                <p class="tip">已开户？
                    <a href="log.html">登录</a> 查看开户进度
                </p>
                <p class="quick-text">
                    3分钟创建交易账号
                    <br> 2个工作日开始交易
                </p>
            </div>
            <div class="account-footer-info">
                <p>*老虎证券的底层清算：盈透证券（Interacitve Brokers，NASDAQ: IBKR），是美国最大的互联网券商，1977年创建，纳斯达克上市公司。致力于提供最快最稳定最安全的电子进场交易技术，直连交易所，而非其他券商通过流动性提供商间接交易。相同时间下单，直连交易所订单成交价格最优。盈透证券集团及其分支机构拥有超过50亿美元的总股本资产，日平均63万3千单的营收交易。</p>
            </div>
        </div>