<div class="confirm-order">
    <div class="c-box clear">
	 <img src="images/进度条.png" alt="">
	 <div class="c-show1">
		 <div class="c-span">
		 	<span class="c-span1">支持金额：</span>
		 	<span class=" c-span2 orange">￥5.00</span>
		 </div>
		 <div class="c-1 clear">
		 <div class="txt1 clear">
		 	<div class="c-div1">支持回报：</div>
		 	<div class="c-div2">1.犹太人在上海手机壁纸一套（共7张）；2.每200人随机抽取1名幸运用户，不满200人也按200人抽取，获赠《犹太人在上海》演员签名海报一份+纪念画册一本；中奖名单将在话题区公布，奖品最终由项目方发送至得奖者手中（免配送费）。</div>
		 	<span class="c-span1">预计回报发放时间：项目成功结束后5天内</span>
		 </div>
		 <div class="txt2 clear">
		 	<span class="c-span1">备注：</span>
		 	<input class="c-span2" type="text" placeholder="说点什么吧,可以给项目发起者一些小小的鼓励哦~">
		 </div>
		 <div class="txt3 clear">
		 	<span class="c-span1">联系方式：</span>
		 	<input class="c-input1" type="text" placeholder="您的称呼">
		 	159****1103 <span class="c-span2 orange">（手机号码用于接收回报奖品，客服将根据此手机号与您联系，请确认无误！）</span>
		 </div>
		 </div>
	 </div>

	 <div class="c-show2">
	 	<h4>风险说明</h4>
	 	<p   class="c-p c-p1">1、众筹成功后，如果出现项目方回报无法发放的情况，您需要直接和项目发起人协商解决退款事宜，平台没有帮您追讨资金的义务。</p> 
        <p  class="c-p">2、支持纯抽奖档位一旦您支付成功将不予退款，项目募集失败的除外；支持无私奉献档位，项目一旦募集成功将不予退款。</p>
        <p  class="c-p c-p3">3、全民创造只提供平台服务，回报由项目发起人为您提供并负责发货，同时项目发起人有为您开具发票的法定义务。</p>
         <h4>特别说明</h4>
         <p class="c-p c-p4">系统会自动对超出限额的订单进行全额退款，对您造成的不变，深表歉意！</p>
         <span class="c-p5" ui-sref="pay">确认支持</span>
	 </div>


	 </div>

</div>