<div class="banner">
		<img ng-src="{{a}}" ng-repeat="a in arr1" ng-show="showIndex==$index">
		<span class="span1" ng-click="prev(1)"> < </span>
		<span class="span2" ng-click="next(0)"> > </span>
	<div class="banner-txt">
			<h2>《晚秋》再现舞台</h2>
			<p>汤唯、玄彬继电影后，首次在话剧舞台合作，重现美国西雅图两名男女身在异国他乡的爱情故事</p>
			<span ui-sref="view-project" style="cursor:pointer;">查看项目</span>
	
	</div>
	<div class="banner-icon">
		<span class="banner-span1" ng-class="{active:showIndex==0}" ng-click = 'prev(1)'></span>
		<span class="banner-span2" ng-class="{active:showIndex==1}"
		ng-click = 'next(0)'></span>
	</div>
</div>
	<div class="show clear" >
	<div class="show-left">
		<div class="txt"><h3>热门项目</h3><h6 ui-sref="detail"><a href="#">查看更多</a></h6></div>
		<div class="show-left-img">
			<img src="images/img-small.png" alt="">
		</div>
		
		<div class="show-left-txt">
			<h2>《晚秋》再现舞台</h2>
			<p class="show-left-p1">by 韩国宝蓝影业有限公司</p>
			<p class="show-left-p2">《晚秋》根据李满熙导演1966年的同名电影改编而成，影片以美国西雅图为背景，讲述两名男女在异国他乡的爱情故事。</p>
			<p >
			<img src="images/icon1.png" ><span class="icon-small1">话剧</span>
			<img src="images/icon2.png" alt=""><span>卫视推荐</span></p>
			<p class="line-p">
			<img src="images/icon-line.png" class="icon-line">
			<img src="images/icon-line-bg.png" class="icon-line-bg">
			</p>
			<ul class="clear ul1">
			<li class="ul1-li0">
				<p class="p1">48%</p>
				<p>进度</p>
			</li>
			<li class="ul1-li1">
				<p class="p1">￥15,498</p>
				<p>支持金额</p>
			</li>
			<li class="ul1-li2">
				<p class="p1">173</p>
				<p>支持者</p>
			</li>
			<li class="ul1-li3">
				<p class="p1">6</p>
				<p>剩余天数</p>
			</li>
			</ul>
			
		</div>
	</div>
	<div class="show-right">
		<ul>
			<li>微电影</li>
			<li>电影</li>
			<li>电视剧</li>
			<li>传统戏曲</li>
			<li>话剧</li>
			<li>书画</li>
			<li>相声</li>
			<li>戏剧</li>
			<li>音乐剧</li>
			<li>纪录片</li>
		</ul>
	</div>
		
	</div>

<div class="box-img clear">
	<div class="box-img-title">
	 <h3>卫视主推</h3>
	 <span>查看更多</span>
	</div>
	<div class="three">
		<div class="box-img-l">
		<img src="images/show-img1.png" alt="">
        	<div class="box-img-txt1">
			<h3>《犹太人在上海》音乐剧</h3>
			<span >by 恒源祥戏剧创意</span>
			<p class="box-img-p1">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
			<p >
			<img src="images/音乐剧.png" ><span class="">话剧</span>
			</p>
			<p class="line-p">
			<img src="images/line-small.png" class="icon-line">
			<img src="images/line-small-bg.png" class="icon-line-bg">
			</p>
			<ul class="clear ul2">
			<li class="ul2-li0">
				<p class="p2">48%</p>
				<p>进度</p>
			</li>
			<li class="ul2-li1">
				<p class="p2">￥15,498</p>
				<p>支持金额</p>
			</li>
			
			<li class="ul2-li3">
				<p class="p2">6</p>
				<p>剩余天数</p>
			</li>
			</ul>
			
		</div>
	    </div>
       <div class="box-img-l">
		<img src="images/show-img2.png" alt="">
        	<div class="box-img-txt1">
			<h3>《犹太人在上海》音乐剧</h3>
			<span >by 恒源祥戏剧创意</span>
			<p class="box-img-p1">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
			<p >
			<img src="images/音乐剧.png" ><span class="">话剧</span>
			</p>
			<p class="line-p">
			<img src="images/line-small.png" class="icon-line">
			<img src="images/line-small-bg.png" class="icon-line-bg">
			</p>
			<ul class="clear ul2">
			<li class="ul2-li0">
				<p class="p2">48%</p>
				<p>进度</p>
			</li>
			<li class="ul2-li1">
				<p class="p2">￥15,498</p>
				<p>支持金额</p>
			</li>
			
			<li class="ul2-li3">
				<p class="p2">6</p>
				<p>剩余天数</p>
			</li>
			</ul>
			
		</div>
	    </div>
	    <div class="box-img-l">
		<img  class="show-img3" src="images/show-img3.png" alt="">
        	<div class="box-img-txt1">
			<h3>《犹太人在上海》音乐剧</h3>
			<span >by 恒源祥戏剧创意</span>
			<p class="box-img-p1">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
			<p >
			<img src="images/音乐剧.png" ><span class="">音乐剧</span>
			</p>
			<p class="line-p">
			<img src="images/line-small.png" class="icon-line">
			<img src="images/line-small-bg.png" class="icon-line-bg">
			</p>
			<ul class="clear ul2">
			<li class="ul2-li0">
				<p class="p2">48%</p>
				<p>进度</p>
			</li>
			<li class="ul2-li1">
				<p class="p2">￥15,498</p>
				<p>支持金额</p>
			</li>
			
			<li class="ul2-li3">
				<p class="p2">6</p>
				<p>剩余天数</p>
			</li>
			</ul>
			
		</div>
	    </div>





	</div>
	
</div>

<div class="footer-show-img">
   <div class="footer-box">
	<h3>合作单位</h3>
	<ul class="clear">
		<li><img src="images/footer-1.png" alt=""></li>
		<li><img src="images/footer-2.png" alt=""></li>
		<li><img src="images/footer-3.png" alt=""></li>
		<li><img src="images/footer-4.png" alt=""></li>
		<li><img src="images/footer-5.png" alt=""></li>
	</ul>
	</div>
</div>
