<div class="pay">
	<div class="p-body">
		  <div class="p-head clear">
			<h3 class="p-span1">《犹太人在上海》音乐剧</h3>
			<span class="p-span2"><img class="p-img1" src="images/进度条2.png"></span>
		  </div>	
		    <span class="p-span3">订单号：4496480277289</span>
			<span class="p-span4">请您在<span class="orange">24小时</span>内付清款项，否则订单会被自动取消。</span>

			<div class="p-box clear">
				<span class="p-span5">快捷支付</span>
				<span class="p-span6">网银支付</span>
				<span class="p-span7">应付款<span class="orange">￥5.00</span></span>
            </div>

            <div class="p-content clear">
            	<p>请选择银行：</p>
            	
            		<div class="p-div1">
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/工商.png" alt=""></span>
            		   </div>
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/工商.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/工商.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/工商.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/工商.png" alt=""></span>
            		   </div>

            			
            		</div>
            			<div class="p-div1">
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/建设.png" alt=""></span>
            		   </div>
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/建设.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/建设.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/建设.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/建设.png" alt=""></span>
            		   </div>

            			
            		</div>
            		
            			<div class="p-div1">
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/兴业.png" alt=""></span>
            		   </div>
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/兴业.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/兴业.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/兴业.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/兴业.png" alt=""></span>
            		   </div>
            			
            		</div>
            			<div class="p-div1">
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/民生.png" alt=""></span>
            		   </div>
            		   <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/民生.png" alt=""></span>
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/民生.png" alt=""></span> 
            		   </div>
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/民生.png" alt=""></span>
            		   </div>        
            		    <div class="div1-1">
            		   	<span class="p-span1"></span>
            			<span class="p-span2"><img src="images/民生.png" alt=""></span>
            		   </div>

            			
            		</div>
            	
            </div>
            <span class="p-span" ui-sref="pay-complete">确认支付</span>
			
	</div>
</div>