<div class="personal-homepage">
	<div class="ph-head">
		<div class="ph-head1 clear">
			<div class="ph-left">
				<img src="images/头像.png" alt="">
				<img src="images/小图标3.png" alt="">
			</div>
			<div class="ph-right">
				<span class="ph-span1">用户HX1234567</span>
				<span class="ph-span2">下午好！</span>
				<span class="ph-span3"></span>
				<span class="ph-span4">账户安全等级:
                   <span class="ph-di"><span class="ph-mian"></span></span>
                   
                   <span class="orange">中</span>
				</span>
				<p class="ph-p1">上次登录时间：2016-10-08&nbsp;17:51:21</p>
			</div>
		</div>
	</div>
	<div class="ph-body clear">
		<div class="ph-left">
			<div class="ph-txt">
				<a ui-sref={{h.view}}  ng-repeat="h in arr2"
				ui-sref-active="showActive1">{{h.name}}</a>
				<!-- <a ui-sref="personal-homepage.personal-information">个人信息</a>
				<a href="">安全设置</a>
				<a href="">关注的圈子</a>
				<a ui-sref="personal-homepage.tab-5">购买记录</a> -->
			</div>
		</div>
	<div class="ph-right" ui-view>
		<div class="top">
			<div class="ph-txt">
				<div class="ph-head2">
				  <span class="ph-span5"></span>
			      <span class="ph-span6">我关注的项目</span>
			    </div>
					<div class="ph-body1">
						<div class="ph-box clear">
							<img src="images/ph-1.png" style="float: left;">
							<div class="box1-1">
							<h4 class="ph-h4">《犹太人在上海》音乐剧</h4>
							<p class="ph-p">by&nbsp;恒源祥戏剧创意</p>
							<span class="ph-di1"><span class="ph-mian1"></span><span class="ph-p2">
							<p class="ph-p2">已筹资<span class='ph-span7'
							>￥15,498</span></p>
							</div>
							
						</div>

						<div class="ph-box clear">
							<img src="images/ph-1.png" style="float: left;">
							<div class="box1-1">
							<h4 class="ph-h4">《犹太人在上海》音乐剧</h4>
							<p class="ph-p">by&nbsp;恒源祥戏剧创意</p>
							<span class="ph-di1"><span class="ph-mian1"></span><span class="ph-p2">
							<p class="ph-p2">已筹资<span class='ph-span7'
							>￥15,498</span></p>
							</div>
							
						</div>

						<div class="ph-box clear">
							<img src="images/ph-1.png" style="float: left;">
							<div class="box1-1">
							<h4 class="ph-h4">《犹太人在上海》音乐剧</h4>
							<p class="ph-p">by&nbsp;恒源祥戏剧创意</p>
							<span class="ph-di1"><span class="ph-mian1"></span><span class="ph-p2">
							<p class="ph-p2">已筹资<span class='ph-span7'
							>￥15,498</span></p>
							</div>
							
						</div>

						<div class="ph-box clear">
							<img src="images/ph-1.png" style="float: left;">
							<div class="box1-1">
							<h4 class="ph-h4">《犹太人在上海》音乐剧</h4>
							<p class="ph-p">by&nbsp;恒源祥戏剧创意</p>
							<span class="ph-di1"><span class="ph-mian1"></span><span class="ph-p2">
							<p class="ph-p2">已筹资<span class='ph-span7'
							>￥15,498</span></p>
							</div>
							
						</div>
					</div> 
			</div>
			</div>
			<div class="bottom ">
				<div class="ph-head2">
				  <span class="ph-span5"></span>
			      <span class="ph-span6">我关注的项目</span>
			    </div>
			    <div class="ph-box2 clear">
			    	<div class="ph-show1">
			    		<img  src="images/ph-1.png" alt="">
			    		<div class="ph-txt clear">
			    			 <h3>《犹太人在上海》音乐剧</h3>
			    			 <span class="ph-span8">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</span>
			    			 <span class="ph-di2"><span class="ph-mian2"></span></span>
			    			 <div class="ph-jindu1">
			    			 	<p >48%</p>
			    			 	<p>进度</p>
			    			 </div>
			    			  <div class="ph-jindu2">
			    			 	<p >￥15,498</p>
			    			 	<p>支持金额</p>
			    			 </div>
			    			  <div class="ph-jindu3">
			    			 	<p >6</p>
			    			 	<p>剩余天数</p>
			    			 </div>
			    		</div>
			    	</div>

                    <div class="ph-show1">
			    		<img  src="images/ph-1.png" alt="">
			    		<div class="ph-txt clear">
			    			 <h3>《犹太人在上海》音乐剧</h3>
			    			 <span class="ph-span8">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</span>
			    			 <span class="ph-di2"><span class="ph-mian2"></span></span>
			    			 <div class="ph-jindu1">
			    			 	<p >48%</p>
			    			 	<p>进度</p>
			    			 </div>
			    			  <div class="ph-jindu2">
			    			 	<p >￥15,498</p>
			    			 	<p>支持金额</p>
			    			 </div>
			    			  <div class="ph-jindu3">
			    			 	<p >6</p>
			    			 	<p>剩余天数</p>
			    			 </div>
			    		</div>
			    	</div>

			    	<div class="ph-show1">
			    		<img  src="images/ph-1.png" alt="">
			    		<div class="ph-txt clear">
			    			 <h3>《犹太人在上海》音乐剧</h3>
			    			 <span class="ph-span8">中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</span>
			    			 <span class="ph-di2"><span class="ph-mian2"></span></span>
			    			 <div class="ph-jindu1">
			    			 	<p >48%</p>
			    			 	<p>进度</p>
			    			 </div>
			    			  <div class="ph-jindu2">
			    			 	<p >￥15,498</p>
			    			 	<p>支持金额</p>
			    			 </div>
			    			  <div class="ph-jindu3">
			    			 	<p >6</p>
			    			 	<p>剩余天数</p>
			    			 </div>
			    		</div>
			    	</div>

			    </div>
			</div>
	</div>
</div>
</div>