* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
.clear:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
}
.clear {
  -ms-zoom: 1;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.orange {
  color: #ff4200;
}
.qm-g-home {
  padding-top: 40px;
}
.qm-g-detail {
  padding-top: 40px;
  height: 70px;
}
.qm-g-header {
  background-color: white;
  border-bottom: 1px solid #d9d9de;
  height: 70px;
  box-sizing: border-box;
}
.qm-g-header ul li a {
  color: #969696;
}
.qm-g-header ul {
  float: left;
}
.qm-g-header ul li {
  float: left;
  line-height: 70px;
  vertical-align: center;
  text-align: center;
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
}
.li0 {
  width: 170px;
}
.li0 img {
  float: left;
  padding-top: 20px;
  padding-left: 30px;
}
.li1 {
  width: 92px;
  margin-bottom: 0;
}
.li2 {
  width: 120px;
}
.li3 {
  width: 92px;
  border-right: 1px solid #d9d9de;
}
.li1:hover,
.li2:hover,
.li3:hover {
  background-color: #f5f6f7;
}
.li4 img {
  float: right;
  padding-right: 10px;
}
.li4 {
  width: 30px;
  padding-left: 37px;
}
.li7,
.li6 {
  float: right;
  line-height: 70px;
  vertical-align: center;
  text-align: center;
  font-family: "微软雅黑";
  color: #ff4200;
}
.li5 input {
  border-style: none;
  line-height: 30px;
  height: 30px;
}
.li5 {
  color: #969696;
}
.li7 {
  margin-right: 25px;
}
.li6 {
  margin-right: 50px;
}
.banner img {
  width: 100%;
  margin-top: -4px;
  position: relative;
  height: 600px;
}
.span1,
.span2 {
  position: absolute;
  top: 320px;
  z-index: 2;
  height: 60px;
  width: 25px;
  font-size: 60px;
  color: #fff;
  font-weight: bolder;
  font-family: "黑体";
}
.span1 {
  left: 30px;
}
.span2 {
  right: 30px;
}
.show {
  background: #f7fafa;
  height: 490px;
}
.show-left {
  width: 870px;
  height: 305px;
  padding: 70px 0 45px 80px;
}
.txt {
  margin-bottom: 45px;
}
.show h3 {
  float: left;
}
.show h6 {
  float: right;
  color: #828587;
}
.show-left-img {
  float: left;
  width: 318px;
  height: 242px;
}
.show-left-txt {
  float: left;
  width: 520px;
  height: 240px;
  margin-left: 30px;
}
.qm-g-footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  line-height: 100px;
}
.footer-left {
  float: left;
  width: 610px;
  margin-left: 120px;
}
.footer-left ul li a {
  float: left;
  margin-right: 10px;
  color: #6c6d6f;
}
.footer-left ul li a:after {
  content: '|';
}
.footer-left ul li:last-child a:after {
  content: '';
}
.footer-left ul li a:hover {
  color: #ff4200;
}
.footer-right {
  float: right;
  width: 170px;
  margin-right: 80px;
  height: 100px;
}
.footer-right .footer-right-img1 {
  vertical-align: middle;
}
