<div class="banner">
    <div class="img">
        ##for(i=0;i
        < 4;i++){## <img src="{{imgurl[i]}}" alt="">
            ##}##
    </div>
    <div class="banner-txt ">
        <h2 class="banner-txt1 animated fadeInDown">一键搬家零成本</h2>
        <h2 class="banner-txt2 animated fadeInDown">立享$75转户补贴</h2>
        <a class="banner-btn animated fadeInUp" href="#">了解详情</a>
    </div>
    <div class="banner-txt txt-hide">
        <h2 class="banner-txt1">热烈庆祝老虎证券</h2>
        <h2 class="banner-txt2">港股交易功能上线</h2>
        <a class="banner-btn" href="#">了解详情</a>
    </div>
    <div class="banner-txt txt-hide2">
        <h2 class="banner-txt1 ">投资全球最好公司</h2>
        <h2 class="banner-txt2 banner-a">分享世界科技红利</h2>
        <a class="banner-btn" href="#">马上开户</a>
    </div>
    <div class="banner-txt txt-hide3">
        <h2 class="banner-txt1">跨境专线直连交易所</h2>
        <h2 class="banner-txt2 banner-a">体验毫秒级下单速度</h2>
        <a class="banner-btn" href="#">马上开户</a>
    </div>
    <div class="icon clear">
        <span class="active"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
